{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Games{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('game.create') }}">New</a>
{% endif %} {% endblock %} {% block content %} {% for game in games %}
<article class="game">
    <header>
        <div>
            <h1>{{ game['title'] }}</h1>
            <div class="about">
                game created on {{ game['created'].strftime('%Y-%m-%d') }}
            </div>
        </div>
        <!-- {% if g.user['id'] == game['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %} -->
    </header>
    <!-- <p class="body">{{ game['body'] }}</p> -->
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
