{% extends 'base.html' %} 
{% block header %}
    <h1>{% block title %}Play Wizard{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('game.create') }}">New</a>
    {% endif %}
{% endblock %} 
{% block content %} 

    {# player hands display #}
    {% for hand in hands %}
        <div class="playingCards">
            <ul class="hand">
                {% for card in hand %} 
                    {% if card.rank == 'w' %}
                        <li>
                            <a class="card little wizard" href="#">
                                <span class="rank">{{ card.rank.upper() }}</span>
                                <span class="suit">Wizard</span>
                            </a>
                        </li>
                    {% elif card.rank == 'je' %}
                        <li>
                            <a class="card little jester" href="#">
                                <span class="rank">{{ card.rank.upper() }}</span>
                                <span class="suit">Jester</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="card rank-{{ card.rank }} {{ card.suit }}" href="#">
                                <span class="rank">{{ card.rank.upper() }}</span>
                                <span class="suit">&{{ card.suit }};</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        {# Enter bid form #}
        <form method="post">
            <label for="bid-select">Select your bid</label>
            <select name="bid" id="bid-select">
                <option value="">--Please choose a bid--</option>
                {% for int in range(handsize) %}
                    <option value="{{ int + 1 }}">{{ int + 1 }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select Bid" />
        </form>
    {% endfor %}

    {# face down stack of cards display #}
    <div class="playingCards">
        <ul class="deck">
            {% if 2 <= deck|length <= 10 %} 
                {% for card in deck %}
                    <li>
                        <a class="card back" href="#"></a>
                    </li>
                {% endfor %}
            {% elif deck|length > 10 %}
                {% for card in range(10) %}
                    <li>
                        <a class="card back" href="#"></a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    {# flipped card from top of deck (trump) #}
    {# {% if %} #}
    <div class="playingCards">
        <ul class="deck">
            {% if trump is defined and trump %} 
                {% if trump.rank == 'w' %}
                    <li>
                        <a class="card little wizard" href="#">
                            <span class="rank">{{ trump.rank.upper() }}</span>
                            <span class="suit">Wizard</span>
                        </a>
                    </li>
                {% elif trump.rank == 'je' %}
                    <li>
                        <a class="card little jester" href="#">
                            <span class="rank">{{ trump.rank.upper() }}</span>
                            <span class="suit">Jester</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="card rank-{{ trump.rank }} {{ trump.suit }}" href="#">
                            <span class="rank">{{ trump.rank.upper() }}</span>
                            <span class="suit">&{{ trump.suit }};</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
